> 원본 : https://colab.research.google.com/drive/1pSI4JphP3drRUh8x81LMq_FGiCSLxmQp

In [13]:
import pandas as pd
import os
from pathlib import Path

In [3]:
df_train = pd.read_csv('train.csv')
df_test  = pd.read_csv('test.csv')
df_class = pd.read_csv('class.csv')

classes = df_class['id'].values.astype('str').tolist()

- img_file : 이미지 파일명, train.zip에 있는 이미지 파일 이름.
- (bbox_x1, bbox_y1) : 자동차 위치 좌측 상단 좌표.
- (bbox_x2, bbox_y2) : 자동차 위치 우측 하단 좌표.
- class : 해당 이미지의 자동차 class index.

In [4]:
df_train.head()

          img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0  train_00001.jpg        1       80      641      461    108
1  train_00002.jpg       57       53      293      236     71
2  train_00003.jpg       35       42      227      160     76
3  train_00004.jpg       10       21      254      165    188
4  train_00005.jpg        1       67      772      573     44

In [5]:
df_test.head()

         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2
0  test_00001.jpg      199      184     1116      809
1  test_00002.jpg       55       61      480      257
2  test_00003.jpg       42      123      602      413
3  test_00004.jpg       13        8      619      393
4  test_00005.jpg        8        9      209       93

In [6]:
df_class.head()

   id                        name
0   1  AM General Hummer SUV 2000
1   2         Acura RL Sedan 2012
2   3         Acura TL Sedan 2012
3   4        Acura TL Type-S 2008
4   5        Acura TSX Sedan 2012

CV를 위해 KFold를 생성한다.
전체 데이터에서의 class 간 비율을 fold에서도 동일하게 유지하기 위해 StratifiedKFold를 사용한다.

In [8]:
from sklearn.model_selection import StratifiedKFold, KFold
skfold = StratifiedKFold(n_splits = 5, random_state = 1993, shuffle = True)

모델을 Train 합니다.
StratifiedKFold은 label의 구성비율을 유지하면서 fold를 만들어내므로 split() 호출 시, y(label)도 넘겨야 합니다.

In [11]:
import ssl
from keras.models import model_from_json
from sklearn.utils import shuffle

for fold_index, (train_idx, val_idx) in enumerate(skfold.split(X=df_train['img_file'], y = df_train['class'])):
    # train / validation 데이터 나누기
    dfdf_train = df_train.iloc[train_idx, :].reset_index()
    dfdf_val = df_train.iloc[val_idx, :].reset_index()
    
    # 아래 안해주면 에러 발생. categorical이어서 기준 col이 숫자값이면 안되는 것.
    dfdf_train['class'] = dfdf_train['class'].astype('str')
    dfdf_val['class'] = dfdf_val['class'].astype('str')
    
    df_train_filename = ("fold_%d_train.csv" % (fold_index))
    df_val_filename = ("fold_%d_val.csv" % (fold_index))
    
    dfdf_train = shuffle(dfdf_train).reset_index(drop=True)
    dfdf_val = shuffle(dfdf_val).reset_index(drop=True)
    
    dfdf_train.to_csv(df_train_filename, index=False)
    dfdf_val.to_csv(df_val_filename, index=False)
    
    dft = pd.read_csv(df_train_filename)
    dfv = pd.read_csv(df_val_filename)
    
    print("")
    print("")
    print("fold  %d" % fold_index)
    print("=========================================================")
    print("src:")
    print(dfdf_train.head())
    print("file:")
    print(dft.head())

    print("")

    print("src:")
    print(dfdf_val.head())
    print("file:")
    print(dfv.head())

fold  0
=========================================================
src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   4602  train_04603.jpg        1       79      625      414   115
1   6218  train_06219.jpg       44      161      615      471   133
2   5562  train_05563.jpg      104      325     1180      776   170
3   1583  train_01584.jpg        6       12      390      203    47
4   2626  train_02627.jpg       90      141      476      274    56
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   4602  train_04603.jpg        1       79      625      414    115
1   6218  train_06219.jpg       44      161      615      471    133
2   5562  train_05563.jpg      104      325     1180      776    170
3   1583  train_01584.jpg        6       12      390      203     47
4   2626  train_02627.jpg       90      141      476      274     56

src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   7063  train_07064.jpg       13       49      393      275   127
1   9213  train_09214.jpg        1       22      212      124    60
2   4006  train_04007.jpg        5       14      250      129    44
3   4859  train_04860.jpg        1       20      275      184   122
4   8927  train_08928.jpg       30      128      402      307   138
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   7063  train_07064.jpg       13       49      393      275    127
1   9213  train_09214.jpg        1       22      212      124     60
2   4006  train_04007.jpg        5       14      250      129     44
3   4859  train_04860.jpg        1       20      275      184    122
4   8927  train_08928.jpg       30      128      402      307    138


fold  1
=========================================================
src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   4133  train_04134.jpg       77      107      557      302   144
1   3549  train_03550.jpg       37        6      588      467    36
2   1142  train_01143.jpg       16       29      241      155    76
3   3611  train_03612.jpg       68       90      579      410    61
4    997  train_00998.jpg       37       48      365      266   195
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   4133  train_04134.jpg       77      107      557      302    144
1   3549  train_03550.jpg       37        6      588      467     36
2   1142  train_01143.jpg       16       29      241      155     76
3   3611  train_03612.jpg       68       90      579      410     61
4    997  train_00998.jpg       37       48      365      266    195

src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   1167  train_01168.jpg       33       13      426      317   180
1   2102  train_02103.jpg       52       73      455      287    62
2   8238  train_08239.jpg        5       18      295      178   109
3   6894  train_06895.jpg       24      176      621      383    31
4   7123  train_07124.jpg      102      187      546      353    53
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   1167  train_01168.jpg       33       13      426      317    180
1   2102  train_02103.jpg       52       73      455      287     62
2   8238  train_08239.jpg        5       18      295      178    109
3   6894  train_06895.jpg       24      176      621      383     31
4   7123  train_07124.jpg      102      187      546      353     53


fold  2
=========================================================
src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   9855  train_09856.jpg       83      359     1209      861    28
1   5394  train_05395.jpg       92      278     1396      935   102
2    176  train_00177.jpg       36       69      337      233   159
3   6912  train_06913.jpg       35       88      517      343   101
4   2786  train_02787.jpg      107       49      963      734    25
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   9855  train_09856.jpg       83      359     1209      861     28
1   5394  train_05395.jpg       92      278     1396      935    102
2    176  train_00177.jpg       36       69      337      233    159
3   6912  train_06913.jpg       35       88      517      343    101
4   2786  train_02787.jpg      107       49      963      734     25

src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   7746  train_07747.jpg       79        9      518      440   124
1   7122  train_07123.jpg       64      240     1508      943     6
2   9694  train_09695.jpg      124      151      639      390    21
3    349  train_00350.jpg      200       96      899      654   167
4   7619  train_07620.jpg       60       58      566      371   176
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   7746  train_07747.jpg       79        9      518      440    124
1   7122  train_07123.jpg       64      240     1508      943      6
2   9694  train_09695.jpg      124      151      639      390     21
3    349  train_00350.jpg      200       96      899      654    167
4   7619  train_07620.jpg       60       58      566      371    176


fold  3
=========================================================
src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   6425  train_06426.jpg       37      182      774      475     9
1   9293  train_09294.jpg       66      325     1012      609   171
2   3270  train_03271.jpg        1       63      480      315    68
3   3078  train_03079.jpg       91       45      733      451    95
4   2999  train_03000.jpg      148      113      308      220    29
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   6425  train_06426.jpg       37      182      774      475      9
1   9293  train_09294.jpg       66      325     1012      609    171
2   3270  train_03271.jpg        1       63      480      315     68
3   3078  train_03079.jpg       91       45      733      451     95
4   2999  train_03000.jpg      148      113      308      220     29

src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   8011  train_08012.jpg       36       47      611      463    76
1    530  train_00531.jpg       33      107      953      610   164
2   8684  train_08685.jpg        8       42      493      256    90
3   3995  train_03996.jpg       43      194      728      426    30
4   3839  train_03840.jpg      228      384      944      736    43
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   8011  train_08012.jpg       36       47      611      463     76
1    530  train_00531.jpg       33      107      953      610    164
2   8684  train_08685.jpg        8       42      493      256     90
3   3995  train_03996.jpg       43      194      728      426     30
4   3839  train_03840.jpg      228      384      944      736     43


fold  4
=========================================================
src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0    511  train_00512.jpg      235      247     1396      823    55
1   5303  train_05304.jpg       18      162     1017      612   171
2   2309  train_02310.jpg       30      228     1326     1030   183
3   5409  train_05410.jpg      135      247      541      447   187
4   5833  train_05834.jpg       47      211      623      426   115
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0    511  train_00512.jpg      235      247     1396      823     55
1   5303  train_05304.jpg       18      162     1017      612    171
2   2309  train_02310.jpg       30      228     1326     1030    183
3   5409  train_05410.jpg      135      247      541      447    187
4   5833  train_05834.jpg       47      211      623      426    115

src:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2 class
0   5241  train_05242.jpg      108        8      466      268   195
1    863  train_00864.jpg       86       32      554      465   121
2   4081  train_04082.jpg      216      128     1400      974   119
3   6302  train_06303.jpg       14       89     1017      740    75
4    787  train_00788.jpg       73       93      528      341   154
file:
   index         img_file  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class
0   5241  train_05242.jpg      108        8      466      268    195
1    863  train_00864.jpg       86       32      554      465    121
2   4081  train_04082.jpg      216      128     1400      974    119
3   6302  train_06303.jpg       14       89     1017      740     75
4    787  train_00788.jpg       73       93      528      341    154